.Landing-container {
    display: flex;
    min-height: 100vh;
    border: 1px solid black;
    background-color: #212121;
    justify-content: center;
    align-items: center;
}

.Landing-logo-container {
    border: 1px solid black;
    align-self: center;
}

.Landing-logo {
    width: 100%;
    height: 100%;
    text-align: center;
}

.Landing-slogan {
    color: #f8f8f8;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
}
