{
  parser: 'babel-eslint',
  extends: ['standard', 'plugin:react/recommended'],
  plugins: ['standard', 'react', 'promise'],
  globals: { fetch: false },
  rules: {
    semi: [2, 'always'],
    'comma-dangle': ['error', 'never'],
    'space-before-function-paren': [
      'error',
      { anonymous: 'never', named: 'never', asyncArrow: 'always' }
    ],
    quotes: ['error', 'single'],
    indent: ['error', 2],
    'react/jsx-uses-vars': [2],
    'react/jsx-indent': [2, 2],
    'jsx-quotes': [2, 'prefer-single']
  },
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
      modules: true,
      experimentalObjectRestSpread: true
    }
  },
  env: {
    es6: true,
    browser: true,
    node: true,
    jest: true
  }
}