{
  parser: 'babel-eslint',
  extends: [],
  plugins: [],
  globals: { fetch: false },
  rules: {
  },
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
      modules: true,
      experimentalObjectRestSpread: true
    }
  },
  env: {
    es6: true,
    browser: true,
    node: true,
    jest: true
  }
}