{
  "rules": {
    "at-rule-empty-line-before": "always",
     "indentation": 2,
     "function-comma-space-after": "never",
     "color-hex-length": "long"
  },
    "extends": ["stylelint-config-standard", "stylelint-config-property-sort-order-smacss"]
}
