.Projects-container {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  /*border: 1px solid black;*/
  padding: 5%;
  background-color: #f8f8f8;
}

.Projects-container .ui.items > .item > .content > .header:not(.ui) {
  color: #222222;
  font-size: 1.5rem;
  font-weight: 500;
}

.Projects-container .ui.items > .item > .image > img {
  border-radius: 5rem;
}

.Projects-icons {
  display: flex;
}
