.ui.container.Header-container {
  background-color: #212121;
  color: #f8f8f8;
  /*border: 1px solid pink;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Header-left {
  border: 1px solid yellow;
}

.Header-right {
  border: 1px solid yellow;
}

.Header-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  border: 1px solid white;
}
