@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

html,
body {
  margin: 0;
  padding: 0;
  /* font-weight: 100; */
  /*background-color: #f8f8f8;*/
  background-color: #222222;
  color: white;
  font-family: Lato, sans-serif;
}

.ui.items > .item {
  background-color: #ffffff;
}
.ui.header {
  margin: calc(2rem - 0.14285714em) 0 1rem;
  padding: 0 0;
  border: none;
  color: rgba(255,255,255,0.87);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.28571429em;
  text-transform: none;
}

p {
  font-weight: 300;
}
